body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	margin: 0;
}
.highlight{
	background-color:#F2FFF2;
	border:1px solid #DDDDDD;
	margin:10px 0;
}	
.center{
	width: 700px;
	margin: 0 auto;
}
	.single .center{
		width:750px;
	}
.big{
	font-size: 1.5em;
	line-height: 1.5em;
	color:#222;
}

h1{
	font-size: 4em;
	letter-spacing: -0.06em;
	color: #FD9220;
}
	.single h1{
		font-size:3em;
	}
h2{
	font-size: 2em;
	letter-spacing: -0.05em;
	color: #FD9220;
	margin:1em 0 0.5em;
}
h3{
	margin:2em 0 1em;
}
hr{
	border:1px solid #DDDDDD;
}
a{
	text-decoration: none;
	color: #FD9220;
}

a:hover{
	text-decoration: underline;
}
img{
	border:none;
	margin:0;
	padding:0;
}
li{
	margin: 1em 0;
	line-height: 1.5m;
}
p.note{
	color:#666;
	margin:0;
}
#footer-container{
	background-color: #222;
	height: 40px;
	margin-top: 50px;
}
#footer{
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
	padding-top: 14px;
}
#footer p{
margin: 0;
}
#pics{
	height:250px;
	clear:both;
	overflow:hidden;
}
#pics img, #logos img{
	float:left;
}
#logos{
		margin:5px auto;
		overflow:hidden;
		clear:both;
}
.align-center{
	text-align:center;
}